{% extends 'base.html' %}
{% block title %} signup {% endblock title%} 
{% block content %} 
{% comment %} <div>
Sign Up Buddy
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
</div> {% endcomment %}




<section>
    <section id="theNavbar">
        <header class="p-3 text-bg-dark">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'home'%}" class="nav-link px-2 text-secondary">Home</a></li>
                </ul>
        
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2"><a class='text-decoration-none' href="{% url 'login'%}">Login</a></button>
                  </div>
              </div>
            </div>
        </header>      
      </section> 
</section>


<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
            {{form.errors}}
          <form action='.' method='post' class="">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input name='username' type="text" maxlength="150" class="form-control rounded-3" id="id_username" placeholder="name@example.com">
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name ='password1' class="form-control rounded-3" required id="id_password1" placeholder="Password">
              <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
               <input type="password" name ='password2' class="form-control rounded-3" required id="id_password2" placeholder="Password"> 
                <label for="password">Password Confirmation</label>
              </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock content %}