
{% extends 'base.html' %}
{%load static%}
{% comment %}  Add above two lines in every template. {% endcomment %}
{% block title %} Dashboard{% endblock title %}

{% block content %}
<img class ='rounded-circle mx-auto d-block' width='200' height='150' src="{% static 'images/cat.jpg' %}" alt="Cat Image">
You Are seeing this Because you are logged in .. I'm a cat person. 

<a href="{% url 'item_new' %}">New Listing</a>
<a href="{% url 'item_list' %}">View Listings</a>
<a href="{% url 'auction_domain' %}">Bidding</a>

<script>
    window.intercomSettings = {
      api_base: "https://api-iam.intercom.io",
      app_id: "kak73z3h",
      name: "{{ request.user.name|escapejs }}", // Full name
      email: "{{ request.user.email|escapejs }}", // Email address
      created_at: "{{ request.user.date_joined|date:"U" }}" // Signup date as a Unix timestamp
    };
  </script>
  
  <script>
  // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/kak73z3h'
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/kak73z3h';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
  </script>
{% endblock content %}

